.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    background: white;
    margin: 10px;
    text-decoration: none;
   
    color: black;
}

.task:hover {
    cursor: pointer;
}

.task__text {
    margin: 0;
}

.task__input {
    border: none;
    width: 79%;
}

.task--edit {
    position: relative;
    z-index: 60;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    z-index: 50;
}